/*colors*/

$prime: #eff3f7;
$second: #3ba8c0;

$ff-title: 'Avenir Next', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

$ff-text: 'Roboto', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
